<!DOCTYPE html>
<html lang="en">
  <head>
    <title>BET</title>
  </head>

  <body>
    <div>
      <h1>Create bet</h1>
      <button style="float:right" id="logout" type="button">Logout</button>
    </div>

    <form id="form">
      <div>
        <label for="name">Name</label>
        <input id="name" type="text">
      </div>

      <div>
        <label for="price">Price</label>
        <input id="price" type="number">
      </div>

      <div>
        <button type="submit">Create</button>
      </div>
    </form>

    <p id="message"></p>

    <script>
      (() => {
        /** @type {HTMLFormElement} */
        const form = document.getElementById(`form`);
        /** @type {HTMLInputElement} */
        const name = document.getElementById(`name`);
        /** @type {HTMLInputElement} */
        const price = document.getElementById(`price`);

        form.onsubmit = e => {
          e.preventDefault();
          const nameValue = name.value;
          const priceValue = parseFloat(price.value);

          if (!name || isNaN(priceValue)) {
            message.innerText = `Missing values`;
          }
          else {
            fetch(`/bet`, {
              method: `post`,
              headers: { "Content-Type": `application/json` },
              body: JSON.stringify({
                name: nameValue,
                price: priceValue,
              }),
            })
            .then(res => res.json())
            .then(res => {
              if (res.error) message.innerText = res.error;
              else window.location.href = `/bets/${res.id}`;
            })
            .catch(err => { message.innerText = err; });
          }
        };
      })();
    </script>
    <script>
      (() => {
        /** @type {HTMLButtonElement} */
        const logout = document.getElementById(`logout`);

        logout.onclick = () => {
          fetch(`/logout`, { method: `post` })
          .then(res => res.json())
          .then(res => {
            if (res.error) message.innerText = res.error;
            else window.location.href = `/login`;
          })
          .catch(err => { message.innerText = err; });
        };
      })();
    </script>
  </body>
</html>
