<!DOCTYPE html>
<html lang="en">
  <head>
    <title>INDEX</title>
  </head>

  <body>
    <div>
      <h1>Simple CRUD application with database persistence.</h1>
      <button style="float:right" id="logout" type="button">Logout</button>
    </div>

    <p>Functionalities:</p>
    <ul>
      <li><a href="/users">Users list</a></li>
      <li><a href="/bets">Bets list</a></li>
    </ul>

    <p id="message"></p>

    <script>
      (() => {
        /** @type {HTMLButtonElement} */
        const logout = document.getElementById(`logout`);

        logout.onclick = () => {
          fetch(`/logout`, { method: `post` })
          .then(res => res.json())
          .then(res => {
            if (res.error) message.innerText = res.error;
            else window.location.href = `/login`;
          })
          .catch(err => { message.innerText = err; });
        };
      })();
    </script>
  </body>
</html>
