<!DOCTYPE html>
<html lang="en">
  <head>
    <title>USERS</title>
  </head>

  <body>
    <div>
      <h1>Users</h1>
      <button style="float:right" id="logout" type="button">Logout</button>
    </div>

    <ul id="list"></ul>

    <a href="/users/create">Create new user</a>
    <a href="/">Home</a>

    <p id="message"></p>

    <script>
      (() => {
        /** @type {HTMLUListElement} */
        const list = document.getElementById(`list`);

        fetch(`/user`)
        .then(res => res.json())
        .then(res => {
          if (res.error) message.innerText = res.error;
          else {
            res.forEach(user => {
              const element = document.createElement(`li`);
              const link = document.createElement(`a`);

              link.href = `/users/${user.id}`;
              link.innerText = user.fullName;

              element.appendChild(link);
              list.appendChild(element);
            });
          }
        })
        .catch(err => { message.innerText = err; });;
      })();
    </script>
    <script>
      (() => {
        /** @type {HTMLButtonElement} */
        const logout = document.getElementById(`logout`);

        logout.onclick = () => {
          fetch(`/logout`, { method: `post` })
          .then(res => res.json())
          .then(res => {
            if (res.error) message.innerText = res.error;
            else window.location.href = `/login`;
          })
          .catch(err => { message.innerText = err; });
        };
      })();
    </script>
  </body>
</html>
